name: MLflow CI Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: lungcancer_env
          environment-file: MLProject/conda.yaml
          auto-activate-base: false

      - name: Install MLflow + dependencies
        shell: bash -l {0}
        run: |
          pip install mlflow==2.12.1
          pip install scikit-learn pandas numpy

      - name: Run MLflow Project
        shell: bash -l {0}
        run: |
          cd MLProject
          mlflow run . -P n_estimators=100 -P max_depth=10

      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow_artifacts
          path: MLProject/mlruns